<nav class="navbar navbar-fixed-top navbar-default">
  <div class='container'>
    <%= link_to "MyRecipe", root_path, class: "btn btn-success btn-lg", id: "logo" %>

    <%= link_to "Link1","", class: "btn btn-warning btn-default", id: "navitem" %>
    <%= link_to "Link2","", class: "btn btn-warning btn-default", id: "navitem" %>
    <%= link_to "Link3","", class: "btn btn-warning btn-default", id: "navitem" %>
  </div>
</nav>
